:root {
    --green: rgb(7, 223, 169);
    --pink: rgb(209, 59, 172);
    --purple: rgb(155, 155, 214);
    --dark-blue: rgb(12, 3, 56);
}
body{
    background-color: var(--dark-blue);
}
a{
    color: var(--purple);
}
.header{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--dark-blue);
    color: var(--pink);
    text-shadow: 5 5 5px black;
}
.header h1{
    display: inline-block;
    font-size: 48px;
}
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;   
}

.header ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    color: blanchedalmond;
}

.hero{
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("cyberpunkAesthetic.jpg" );
    background-size: cover;
    background-position: center;
}

.about-me{
    color: var(--pink);
    margin: 2%;
    font-size: 180%;
}
.about-me h3{
    color: var(--green);
    font-size: 90%;
}
.about-me p, .about-me ul{
    background-color: var(--purple);
    color: var(--dark-blue);
    font-size: 90%;
}

.work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
}
.snippet{
    border: 2px solid var(--purple);
    font-size: 150%;
    flex: 0 0 45%;
    margin: 2%
}
.snippet h2{
    color: var(--pink);
    font-size: 200%;
    text-align: center;
}
.snippet p{
    color: var(--green);
}
.screenshot img{
    margin: 3%;
    border-radius: 10px;
    width: 90%
}

.snippet1{
    border: 2px solid var(--purple);
    font-size: 150%;
}
.snippet1 h2{
    color: var(--pink);
    font-size: 200%;
    text-align: center;
}
.snippet1 p{
    color: var(--green);
}
.screenshot1 img{
    margin: 3%;
    border-radius: 10px;
    width:90%;
}

@media screen and (max-width: 768px) {
    main,
    * {
      flex-direction: column;
    }
  }